<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Make Profile</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/create.css' %}">   
    </head>
    {% block replace %}
    <body>
        <center>
          
               
                       
                
                
                <form method="POST" enctype="multipart/form-data">
                    <!-- Very Important csrf Token -->
                    {% csrf_token %}
                    <table>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>

                       <h2> <b>Upload The Image</b></h2><br>
                    <b>{{ form }}  </b>
                    </table>
                    <br>
                    <input type="submit" class="btn btn-primary btn-lg" name="register" value="UPLOAD">
            
        </center>
        {% endblock %}
    </body>
</html>